.chat {
    width: 800px;
    height: 500px;
    background-color: rgba(0, 0, 0, 0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    overflow-y: auto;
}

.message {
    min-width: 200px;
    max-width: 60%;
    padding: 10px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    word-wrap: break-word;
    animation: fadeIn 0.5s;
}

.message.left {
    align-self: flex-start;
    background-color: rgba(0, 123, 255, 0.2);
    margin-left: 10px;
    margin-right: auto;
}

.message.right {
    align-self: flex-end;
    background-color: rgba(40, 167, 69, 0.2);
    margin-left: auto;
    margin-right: 10px;
}

.username {
    font-weight: bold;
    margin-bottom: 5px;
}

.credits {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    color: lightgrey;
}

.credits > a {
    display: block;
}

.status-bar {
    width: 800px;
    color: lightgray;
    display: flex;
    padding: 5px 20px;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
