<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="/static/styles.css" />
        <link rel="stylesheet" href="/static/index.css" />
        <title>Chat - Main</title>
    </head>
    <body>
        <div class="container">
            <h1>Welcome, {{ username }}!</h1>
            <p>Select a chat from the carousel below to start chatting.</p>
            <div class="chat-selector">
                <div class="carousel-track">
                    <button class="chat-option" id="newChatBtn">
                        <p>[+] New Chat</p>
                    </button>
                    {% for chat in chats %}
                    <div class="chat-option">
                        <a href="/chat/{{chat.id}}"><p>{{chat.name}}</p></a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
    <script>
        document.getElementById("newChatBtn").onclick = function () {
            let chatName = prompt("Enter a name for the new chat:");
            if (chatName) {
                // Send a POST request to create a new chat
                fetch("/newchat", {
                    method: "POST",
                    credentials: "same-origin",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify({ chat_name: chatName }),
                }).then((response) => {
                    if (response.ok) {
                        window.location.reload();
                    } else {
                        alert("Failed to create chat.");
                    }
                });
            }
        };
    </script>
</html>
